* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* header */
.navbar {
  margin-bottom: 0;
}

a.navbar-brand {
  padding-top: 8px;
}

a.navbar-brand img {
  width: 200px;
}

/* header-jumbo */
.jumbo form div.black h2 {
  font-weight: 600;
}

.jumbo form div.purple h2 {
  font-weight: 600;
}

.jumbo h1 {
  margin-top: 70px;
  font-weight: 600;
}

.jumbo p {
  padding: 15px 0;
  font-weight: 600;
  font-size: 18px;
  color: #98b2fc;
}

.jumbo {
  color: #FFF;
  background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
}

.jumbo form {
  margin-bottom: 70px;
  border-radius: 5px;
  padding: 20px;
}

.jumbo form ::placeholder {
  font-weight: 600;
}

.jumbo .my-input {
  padding: 7px 3px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
}

.jumbo form button {
  width: 100%;
  font-weight: 600;
  background-color: #579aff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.jumbo form button img {
  padding-bottom: 3px;
  width: 15px;
  margin-right: 5px;
  float: left;
}

.jumbo form p {
  font-size: 14px;
  color: #253963;
}

.jumbo form p a {
  text-decoration: underline;
}

/* header-jumbo */
/* header */
/* main */
/* main section  logo-grid */
main section.logos-grid {
  text-align: center;
  background-color: #F3F5F9;
}

main section.logos-grid h4 {
  font-weight: 600;
  color: #717C98;
  margin: 60px 0;
}

main section.logos-grid img {
  height: 65px;
}

main section.logos-grid p {
  font-size: 18px;
  margin: 50px 0;
  color: #046DFE;
  font-weight: 600;
}

/* main section deploy */
.deploy {
  padding-top: 100px;
  padding-bottom: 100px;
}

.deploy-heading {
  text-align: center;
}

.deploy-heading h1 {
  font-weight: 600;
}

.deploy-heading p {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #65728E;
}

.deploy ul {
  margin-bottom: 20px;
  list-style: none;
}

.deploy ul li {
  font-weight: 600;
  font-size: 20px;
  padding: 8px 0 8px 5px;
  color: #7A859D;
  border-left: 2px solid #CCCCCC;
}

.deploy ul li:hover {
  border-left: 2px solid blue;
}

.deploy-card h5 {
  font-weight: 600;
  font-size: 20px;
}

.deploy-card p {
  padding-bottom: 20px;
  color: #7A859D;
  font-weight: 600;
  font-size: 18px;
}

/* main section carousel */
main section.carousel {
  padding: 100px 0;
  background-color: #F3F5F9;
}

.carousel img {
  width: 100%;
}

.carousel .img-carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel .arrow-left .fa-arrow-circle-left {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: none;
}

.carousel .arrow-right .fa-arrow-circle-right {
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  display: none;
}

.div-carousel {
  position: relative;
}

.carousel h1 {
  font-weight: 600;
}

.carousel p {
  font-size: 18px;
  color: #586686;
  font-weight: 600;
}

.menu-carousel {
  padding-top: 20px;
  margin-bottom: 20px;
}

.menu-carousel span {
  font-size: 8px;
  padding: 1px 6px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #3D8DFD;
  background-color: #FFF;
}

.menu-carousel span.full {
  background-color: #006AFF;
}

.carousel .create-compute p {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #0A2353;
}

/* main section carousel */
/* main section features */
main section.features h1,
main section.features h3 {
  font-weight: 600;
}

main section.features .row {
  padding-top: 100px;
  padding-bottom: 100px;
}

main section.features p {
  font-weight: 600;
  font-size: 18px;
  color: #626F8D;
}

main section.features a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #0E72FF;
}

main section.features img {
  margin-top: 50px;
}

/* main section features */
/* main section around-the-world */
.around-the-world {
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFF;
  background-color: #003EBB;
}

.around-the-world h1 {
  font-weight: 600;
}

.around-the-world p {
  margin: 0;
  color: #9DAEDD;
  display: inline-block;
}

.around-the-world a {
  padding-right: 15px;
  float: right;
  color: #9DAEDD;
}

.around-the-world ul {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.around-the-world ul li {
  line-height: 40px;
  border-bottom: 1px solid #FFF;
}

.around-the-world ul li span {
  display: inline-block;
  margin-left: 15px;
  width: 15%;
}

/* main section around-the-world */
/* main section rocker-box */
main section.rocker-box {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F5F9;
}

main section.rocker-box h1 {
  font-weight: 600;
  padding-bottom: 50px;
}

main section.rocker-box .div-80-carousel {
  font-weight: 600;
  background-color: #FFF;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  padding-top: 50px;
}

.quote-rocker-box {
  padding-top: 20px;
  padding-bottom: 20px;
}

.rocker-carousel {
  position: relative;
}

.rocker-carousel .fa-arrow-circle-left {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: none;
}

.rocker-carousel .fa-arrow-circle-right {
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: none;
}

main section.rocker-box q {
  padding-top: 10px;
  font-size: 20px;
  color: #5C6A88;
}

main section.rocker-box .div-80-carousel p {
  padding-top: 10px;
  color: #061E4F;
  font-size: 16px;
}

main section.rocker-box .div-80-carousel span {
  color: #061E4F;
  font-weight: 900;
  font-size: 16px;
}

main section.rocker-box a {
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* main section rocker-box */
/* main section get started now */
main section.get-started-now {
  padding: 100px 0;
  background-color: #003CB6;
  color: #FFF;
  text-align: center;
}

main section.get-started-now h1 {
  font-weight: 600;

}

main section.get-started-now button {
  font-size: 18px;
  color: #1074FF;
  font-weight: 600;
  background-color: #FFFFFF;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  margin-top: 20px;
}

/* main section get started now */
/* main */
/* utility */
.purple {
  color: #036bff;
}

.black {
  color: black;
}

.bg-white {
  background-color: #FFF;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-50 {
  margin-top: 50px;
}

/* utility */
@media all and (min-width: 768px) {

  /* header navbar */
  .navbar-header {
    width: 100%;
  }

  .navbar-collapse ul {
    display: none;
  }

  .navbar-toggle {
    margin-right: 0;
    display: block;
  }

  /* header navbar */
  /* header jumbo */
  section.jumbo {
    padding: 100px 0;
    padding-right: 20px;
  }

  /* header jumbo */
  /* main logos grid section*/
  main section.logos-grid img {
    width: 100%;
    height: 80px;
  }

  /* main logos grid section*/
  /* main carousel */
  .carousel .arrow-left .fa-arrow-circle-left {
    display: block;
  }

  .carousel .arrow-right .fa-arrow-circle-right {
    display: block;
  }

  /* main carousel */
  /* main section Rockerbox */
  .rocker-carousel .fa-arrow-circle-left {
    display: block;
  }

  .rocker-carousel .fa-arrow-circle-right {
    display: block;
  }

  /* main section Rockerbox */
}

@media all and (min-width: 992px) {

  /* header navbar */
  .container {
    width: 100%;
  }

  .navbar-header {
    width: auto;
  }

  ul.navbar-nav {
    margin-left: 0;
  }

  .navbar-collapse ul {
    display: block;
  }

  .navbar-toggle {
    margin-right: 0;
    display: none;
  }

  nav.navbar {
    min-height: 70px;
    font-size: 15px;
  }

  div.collapse.navbar-collapse {
    margin-top: 10px;
  }

  .navbar-brand img {
    width: 150px;
  }

  .navbar-brand {
    margin-top: 10px;
    padding: 11px 15px;
  }

  .nav>li>a {
    padding: 15px 0px;
    padding-left: 20px;
  }

  .navbar-default .navbar-nav>li>a {
    color: #031c4e;
    font-weight: 600;
  }

  .navbar-nav>li>button {
    font-weight: 600;
    margin-left: 20px;
    color: #031c4e;
    padding-top: 14px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .navbar-nav>li>button:hover {
    color: #333;
  }

  .fas.fa-chevron-down {
    padding-left: 2px;
    color: #031c4e;
    font-weight: 900;
  }

  .fas.fa-chevron-down:hover,
  .navbar-nav>li>button:hover .fas.fa-chevron-down {
    color: #333;
  }

  ul.navbar-right button.sign-up {
    border-radius: 5px;
    margin-top: 8px;
    padding: 5px 8px;
    color: #0a6fff;
    border: 1px solid black;
  }

  /* header navbar */
  header .jumbo {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  /* header jumbo */
  /* header jumbo */
  /* main section logos-grid */
  main section.logos-grid h4 {
    font-size: 30px;
  }

  main section.logos-grid p {
    font-size: 25px;
  }
}
